@using CompanyAuidit.Entities
@model IEnumerable<CompanyAuidit.Entities.User>
@{
    ViewData["Title"] = "RelationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userMessage = (string) TempData["UserMessage"];
}

<h3>Kullanıcı Listesi</h3>

@if (userMessage != null)
{
    <div class="alert alert-info" role="alert">
        @userMessage 
    </div>
}
<table class="table">
    <tr>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Birim</th>
        <th>Görev</th>
        <th><a class="btn btn-success" asp-controller="User" asp-action="SaveUser">Kullanıcı Ekle</a></th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.Department</td>
    <td>@item.Mission</td>
    <td>
        <a class="btn btn-danger" asp-action="UserDelete" asp-route-id="@item.Id" onclick="return confirm('@item.FirstName isimli kullanıcıyı silmek istiyor musunuz?')">Sil</a>
        <a class="btn btn-success" asp-action="UserUpdate" asp-route-id="@item.Id">Güncelle</a>
    </td>
    <td>
        <a class="btn btn-primary" asp-controller="Relation" asp-action="Inventory" asp-route-id="@item.Id">Eşyalar</a>

    </td>
</tr>
    }

</table>